*{
    margin: 0;  /*Убираем изначальные отступы у сайта*/
}

body, html{
    background-color: #2b3137;  /*Задний фон всего сайта*/
    color: #ffffff;    /*Цвет шрифта всей страницы*/
    height: 100%;
    min-width: 20%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#h1_content{
    text-align: center; /*Центрируем текст*/
    font-weight: 500;
}
