*{
    margin: 0;  /*Убираем изначальные отступы у сайта*/
}

body, html{
    background-color: #2b3137;  /*Задний фон всего сайта*/
    color: #ffffff;    /*Цвет шрифта всей страницы*/
    height: 100%;
    min-width: 20%;
}

.text_conteiner{
    margin-left: 10%;
    width: 80%;
}

#p_main{
    font-size: 30px;
    text-align: center;
}

table{
 display: flex;
 width: 100%;
 padding-top: 10%;
 border-collapse: collapse;
 justify-content: center;
 font-size: 24px;
}

th,td{
    border: 2px solid gray;
    padding: 8px;
}

th{
    width: 150px;
}
